go 1.26.5

use (
	.
	./examples/agentboard
	./examples/afterimage
	./examples/ascii-saver
	./examples/chat
	./examples/familiar
	./examples/tic-tac-toe
	./sdk
)

replace github.com/Ceinl/plumtree/sdk v0.0.0 => ./sdk
