go 1.26.5

use (
	.
	./_devtest/goodbye-cli
	./_devtest/goodbye-tui
	./build-worker
	./examples/agentboard
	./examples/ascii-saver
	./examples/chat
	./examples/tic-tac-toe
	./sdk
)

replace github.com/Ceinl/plumtree/sdk v0.0.0 => ./sdk
